body {
    background-color: #f8f9fa !important;
}

.jumbotron {
    background-color: white;
}

.portfolio, .readings {
    list-style-type: none;
}

.tech-stack {
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: #333;
}

.article {
    margin-bottom: 0.3rem;
}

.social-container {
    margin-top: 13px;
    text-align: center;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.fa {
    color: black;
}

.fa:hover {
    color: grey;
}

a {
    color: #C04CF0;
}

a:hover {
    color: #8D43F0;
}

.fa:hover {
    color: #C04CF0;
}

nav {
    margin-top: 10px;
    font-size: 18px;
}

.nav-item a:hover {
    color: #000!important;
}

@media (max-width: 767px) {
    .nav-item {
        text-align: center;
    }
    .tech-stack {
        display: none;
    }
    .portfolio {
        list-style-type: disc;
    }
}
