body {
    background-color: #f8f9fa !important;
}

.jumbotron {
    background-color: white;
}

.portfolio, .readings {
    list-style-type: none;
}

.tech-stack {
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: #333;
}

.article {
    margin-bottom: 0.3rem;
}

a {
    color: #C04CF0;
}

a:hover {
    color: #8D43F0;
}

@media (max-width: 767px) {
    .tech-stack {
        display: none;
    }
    .portfolio {
        list-style-type: disc;
    }
}
